*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imgpdt{
    height: 500px;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    object-fit: cover;
    /* margin-left: 25%; */
    padding: 20px;
}

  @media (max-width: 600px) {
    #mb{
  height:300px;
  width: 600px;  
  display: block;      
    
  }
    
}
